# Dependencies
node_modules/

# Local Puppeteer Profile (Stores persistent Teams session cookies / auth)
.teams_puppeteer_profile/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & local settings
.env
.env.local
.env.*.local

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
